body{
  background-color: #121212;
  color: white;
  font-size: 0.8rem;
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  width: 100%;
  z-index: 999;
  height: 100px;
  position: relative;
  background-color: black;
  display: flex;
  align-items: center;
  height: 70px;
}
nav .wrapper {
  max-width: 1250px;
  padding: 0 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 300px;
}
.wrapper .logo a {
  color: #ffff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}
.span {
  color: red;
}
.wrapper .nav-links {
  display: inline-flex;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.nav-links li {
  list-style-type: none;
}
.nav-links li a {
  color: #ffff;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 9px 15px;
}
.nav-links li a:hover {
  color: red;
}
.wrapper .btn {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.wrapper .btn.cancel-btn {
  position: absolute;
  right: 30px;
  top: 5px;
}
.input {
  display: none;
}
i{
    color: white;
}
.introduction-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 90px;
}
.introduction-content-container{
      display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 100%;
}
.introduction-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.introduction{
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    animation: slideInTop 1s ease;
}
@keyframes slideInTop {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.button-1{
    width: 200px;
    height: 40px;
    border: double white;
    background-color: inherit;
    color: white;
    border-radius: 10px;
   animation: slideInBottom 1s ease;
}
@keyframes slideInBottom {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.wobble img {
    animation: wobble 2s ease-in-out infinite;
    height: 300px;
}

@keyframes wobble {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    75% { transform: rotate(5deg); }
}

.overall-room-section-container{
  padding-top: 50px;
}
.slideshow-container {
      position: relative;
      width: auto;
      margin: 50px auto;
      overflow: hidden;
      border-radius: 10px;
    }
  .slide{
    position: relative;
  }
   /* Arrow Buttons 
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 130%;
      right: -45%;
      transform: translateY(-50%);
      padding: 16px;
      width: 20px;
      height: 20px;
      font-size: 30px;
      color: black;
      background-color: white;
      border-radius: 50%;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
    }

    .prev {
      left: 10%;
    }

    .next {
      left: 85%;
    }
  */
 .rooms-container {
      position: relative;
      width: 100%;
      max-width: 800px;
      margin: auto;
      font-family: sans-serif;
    }

    .rooms-container img {
      width: 100%;
      height: 500px;
      display: block;
      object-fit: cover;
      border-radius: 10px;
    }

    .rooms-container div.text-overlay {
      position: absolute;
      top: 180px;
      left: 0;
      width: 100%;
      height: auto;
      color: white;
      background: rgba(0, 0, 0, 0.4);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 2rem;
      box-sizing: border-box;
    }

    .rooms-container h1 {
      font-size: 1rem;
      margin-bottom: 1rem;
      animation: slideInTop 1s ease;
    }

    .rooms-container p {
      font-size: 0.8rem;
      max-width: 400px;
      margin-bottom: 1.5rem;
      animation: slideInTop 1s ease;
    }

    .rooms-container button {
      padding: 10px 20px;
      font-size: 1rem;
      background: inherit;
      border: double;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      font-size: 0.8rem;
       animation: slideInBottom 1s ease;
    }

    .rooms-container button:hover {
      background: #f0f0f0;
      color: black;
    }

.overall-discover-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-top: 40px;
}
.discover-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.discover-container p, h1{
  margin: 0;
  padding: 5px;
}
.discover{
  width: 400px;
}
.division{
  padding-top: 20px;
}
.division a{
  text-decoration: none;
  color: white;
  width: 200px;
  padding: 10px;
  background-color: red;
  border-radius: 60px;
  font-size: 0.7rem;
}
.image-4{
  height: 300px;
  width: 400px;
  object-fit: cover;
  border-radius: 5px;
}
.overall-menu-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  gap: 120px;
}
.menu-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.menu-container p, h1{
  margin: 0;
  padding: 5px;
}
.menu-container p{
  font-size: 0.9rem;
}
.menu-container h1{
  font-size: 1.3rem;
}
.discover-1{
  width: 600px;
  font-size: 0.8rem;
}


.view-menu-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.image-5{
  height: 400px;
}
.image-6{
  height: 500px;
}
.button-3{
  background-color: inherit;
  color: white;
  width: 150px;
  height: 40px;
  border: double;
  border-radius: 5px;
}
.wiggling img {
    animation: wobble 2s ease-in-out infinite;
}

@keyframes wiggling {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    75% { transform: rotate(5deg); }
}



@media screen and (max-width: 970px) {
     nav .wrapper{
    gap: 500px;
      padding: 10px 20px;
 }
  .wrapper .btn {
    display: block;
  }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    background-color: red;
    display: block;
    top: 0;
    left: -100%;
    line-height: 70px;
    padding: 50px 20px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    margin: 0;
    transition: all 0.3s ease;
    overflow-y: auto;
    z-index: 1000;
  }
  #menuBtn:checked ~ .nav-links {
    left: 0%;
  }
  .nav-links li a {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .nav-links li a:hover {
    color: inherit;
  }
  i{
    color: white;
}
.overall-room-section-container{
  padding: 20px;
}
.overall-discover-container{
  gap: 30px;
}
.discover{
  width: 350px;
}
.image-4{
  width: 350px;
}
.discover-1{
  width: 540px;
}
.overall-menu-container{
  gap: 70px;
}
.menu-container h1{
  font-size: 1rem;
}
.main-overall-view-menu-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.view-menu-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.view-menu-container-1{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.view-menu-container-2{
  flex-direction: column-reverse;
}
}

@media screen and (max-width: 500px) {
 nav .wrapper{
    gap: 215px;
      padding: 10px 20px;
 }
  
  .wrapper .logo a {
    color: #ffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
  }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 280px;
    z-index: 1000;
  }
  .wrapper .btn {
    font-size: 1.2rem;
  }
  .introduction{
    font-size: 2rem;
  }
  .wobble img{
    height: 280px;
  }
  .overall-room-section-container
 {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .overall-discover-container{
    flex-direction: column;
    padding: 20px;
  }
  .overall-menu-container{
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    padding: 10px;
  }
  .discover-1{
    width: 400px;
  }
  .image-5{
    height: 250px;
  }
  .image-6{
    height: 350px;
  }
  .fabulous p{
    font-size:0.7rem;
    width: 280px;
  }
  .main-overall-view-menu-container{
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
     nav .wrapper{
    gap: 200px;
      padding: 10px 20px;
 }
 .discover{
  width: 300px;
 }
 .image-4{
  width: 300px;
 }
 .discover-1{
  width: 300px;
 }
 .introduction{
  font-size: 1.5rem;
 }
}
